# Server / Render
SUPABASE_URL=https://ntaioerwelnqurhgjdqq.supabase.co
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_ANON_KEY=

NODE_ENV=production
PORT=3000

# Opcional en local para el cliente Vite (si no usas /api/config)
# VITE_SUPABASE_URL=https://ntaioerwelnqurhgjdqq.supabase.co
# VITE_SUPABASE_ANON_KEY=
